<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{ article.image.src | img_url: 'medium', crop: 'center'}}" alt="{{ article.image.alt }}" class="is-object-fit-cover">
    </figure>
  </div>

  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ article.title }}</p>
      </div>
    </div>

    <div class="content">
      <div>
        <time datetime="{{ article.created_at | date: "%Y-%m-%d" }}">{{ article.created_at | date: "%b %d, %Y" }}</time>
      </div>

      <div>
        {% if section.settings.blog_list_show_excerpt == true %}
          {% if article.excerpt.size > 0 %}
            {{ article.excerpt }}
          {% else %}
            <p>
              {{ article.content | strip_html | truncatewords: 100 }}
            </p>
          {% endif %}
        {% endif %}
      </div>

      <br />
      
      <div>
        <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
      </div>
    </div>
  </div>
</div>
