{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<section class="section">
  <div class="has-text-centered content container">
    {% unless shop.password_message == blank %}
      <p>
        {{ shop.password_message }}
      </p>
    {% endunless %}

    <div class="columns is-centered is-multiline">
      <div class="column is-7 is-narrow">
        {% form 'customer' %}

          {{ form.errors | default_errors }}

          {% if form.posted_successfully? %}
            <ul class="form-success">
              <li>{{ 'general.password_page.signup_form_success' | t }}</li>
            </ul>
          {% else %}
            <h4>{{ 'general.password_page.signup_form_heading' | t }}</h4>
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <div class="field has-addons">
              <div class="control is-expanded has-icons-left">
                <input class="input" type="email" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" name="contact[email]" spellcheck="false" autocomplete="off" autocapitalize="off">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <div class="control">
                <button type="submit" name="commit" class="button is-primary">
                  {{ 'general.password_page.signup_form_submit' | t }}
                </button>
              </div>
            </div>
          {% endif %}
        {% endform %}
      </div>

      <div class="column is-7 is-narrow">
        {% if settings.share_facebook or settings.share_twitter %}
          <p>{{ 'general.password_page.spread_the_word' | t }}</p>
          <p>{% include 'social-sharing' %}</p>
        {% endif %}
      </div>
      
      <div class="column is-7 is-narrow">
        <a href="#PasswordLogin" id="PasswordLoginLink" class="button is-primary reveal">
          <span class="icon"><i class="fas fa-lock"></i></span>
          <span>{{ 'general.password_page.password_link' | t }} &rarr;</span>
        </a>
      </div>
      
      <div id="PasswordLogin" class="column is-7 is-narrow is-hidden">
        <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <div class="field has-addons">
            <div class="control is-expanded has-icons-left">
              <input class="input" type="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" name="password">
              <span class="icon is-small is-left">
                <i class="fas fa-asterisk"></i>
              </span>
            </div>
            <div class="control">
              <button type="submit" name="commit" class="button is-primary">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            </div>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</section>
